* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #fff;
  background: #f4f7f9;
   font-family: 'Dancing Script', cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
   background: linear-gradient(to right, #003366, #0066cc);
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;}
 

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
   color:whitesmoke;
   background: linear-gradient(135deg, #005eff, #00b2ff);
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 90, 255, 0.4);
  transition: 0.3s ease;

}

.nav-links a:hover {
  color: #fca311;
}

.hero {
  background: url('image/who we.jpg') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 120px 20px 80px;
  position: relative;
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn-primary {
  padding: 12px 25px;
  background: #ffeb3b;
  color: #000;
  font-weight: 700;
  border-radius: 50px;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #ffc107;
}

.container {
  max-width: 1100px;
  margin: 50px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.card {
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  padding: 30px 20px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.card h2,
.card p {
  position: relative;
  z-index: 1;
}

.card h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #ffeb3b;
}

.card p {
  font-size: 1rem;
  color: #fff;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

footer {
  background: #0056b3;
  color: #fff;
  text-align: center;
  padding: 25px 20px;
  margin-top: 50px;
  font-weight: 600;
}